NEXT_PUBLIC_API_BASE_URL=http://localhost:3010/
NEXT_PUBLIC_API_URL=http://localhost:3010/v1
NEXT_PUBLIC_API_PUBLIC_KEY=77225ce5801cdeb9098880b621186ce3
NEXT_PUBLIC_API_KEY=VsMYJzbrxrlvzLgSou+6SzwPVPk2rWotAFjuYga5rPHn1ODsxY2RP/i3PcWINEAK
PROPERTY_ID=1
